<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="./css/styles.css" />
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Use this website to get weather</p>
        <p>This site was created by Lynn Chen. It uses data from mapbox.com and darksky.net!</p>
        {{!-- <img class='portrait' src=' ./img/Fiona.jpg' alt="" /> --}}
    </div>
    {{>footer}}
</body>

</html>